// Specific CSS for your home-page
.home-header {
  background-image: asset-url("noted.png");
  height: 100vh;
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;

}


