// Specific CSS for your home-page
.home-header {
  background-image: asset-url("doggirl.png");
  height: 100vh;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #8CE0DC;
  margin-top: 20px;
}


