.project-header {
  //background-image: asset-url("flowers.jpg");
  //background-color: #CBE3ED;
  height: 100vh;
  background-size: 100%;
  background-repeat: none;
  background-position: center;

}

.project-box {
  padding-top:  20px;
  text-align: left;

}

.project-pic {
  align-items: right;
}
