<h1 class="ml2">My Projects</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<div class="project-box row align-items-start">
  <div class="petpal col py-3 px-lg-5">
    <div class="d-flex justify content around">
      <div>

    <h3>Petpal</h3>
    <p>This mock Airbnb was made using Ruby on Rails during the 9-week coding bootcamp with Le Wagon. Petpal allows you to rent someone else's pet and/or rent out your own pet for a few days. </p>
    <p>
     <strong> Skills Used:</strong>
     Ruby on Rails, HTML, CSS
   </p>
</div>
<div>
    <img src="https://res.cloudinary.com/dxj9jimkc/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1567588720/petpal.png" alt="petpal" height="220" width="320" class="pet-pic">
   <a target="_blank"  class="website-btn" href="https://petpalz.herokuapp.com/" class="d-flex justify-content-end"> <i class="far fa-eye"></i>

   </a>
   </div>
   </div>
 </div>

 <div class="lifeline col py-3 px-lg-5">
  <div class="d-flex justify content around">
    <div>
      <h3>Lifeline</h3>
      <p>During the final two weeks of the bootcamp we built a progressive web application using Ruby on Rails. This app was created to help individuals track their feelings add journal entries and view summarizing data in two week segments. </p>
      <p>
       <strong> Skills Used:</strong>
       Ruby on Rails, HTML, CSS, and Javascript
     </p>
   </div>
   <div>
    <img src="https://res.cloudinary.com/dxj9jimkc/image/upload/v1567588983/lifeline.png" alt="lifeline" height="300" width="180" class="life-pic">
     <a target="_blank"  class="website-btn" href="https://life-line.club/"  class="d-flex justify-content-end"> <i class="far fa-eye life-eye"></i

     </a>
   </div>
 </div>
</div>
</div>
