<div class="home-header">
  <div id="move-typed" >
    <span id="banner-typed-text"></span>
    <div class="avatarme">
  </div>
  </div>
</div>


<div class="project-header">
<%= render 'shared/projects' %>
</div>
