<div class="home-header">

  <div id="move-typed" >
    <span id="banner-typed-text"></span>
 </div>
<!--   <div class="avatarme ">
       <img src="https://res.cloudinary.com/dxj9jimkc/image/upload/v1567597878/avablue_liuyld.png" alt="me" height="300" width="320">
  </div> -->
  </div>




<div class="project-header" id="projects">

<%= render 'shared/projects' %>
</div>
