.website-btn {
      text-decoration: none;
    border-radius: 10px;
    padding: 8px;
        text-align: center;
        color:  black;

}


.fa-eye {
  font-size: 26px;
  color: #2cb1dd;
  border-radius: 50%;
  background-color: white;
  padding:  15px;
}
