.ml2 {
  font-weight: 900;
  font-size: 3.5em;
  font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: black;
text-align: center;
padding-top: 60px;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

