#banner-typed-text {
font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: black;


}

#move-typed {
padding-top: 120px;
padding-left: 200px;
align-items: center;
}


.avatarme {
padding-left: 900px;
}
